<h1> hi </h1>
<h2> hahaha </h2>
<h3> mooi he: </h3>


<p>hallo werkt dit of niet </p>


<p> deze <%= link_to "here", "/" %> brengt je naar: 
<ul> <li> koffie </li> <li> thee </li> <li> en meer </li> </ul> </p>
